<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tom.stapp3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.FragmentViewer"
            android:label="Stapp 3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileView"
            android:label="@string/title_activity_profile_view"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.LeaderboardView"
            android:label="@string/title_activity_leaderboard_view" >
        </activity>
        <activity android:name=".activity.StrangerView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tom.stapp3.activity.LeaderboardView" />
        </activity>
        <activity
            android:name=".activity.ConnectionView"
            android:label="@string/title_activity_connection_view" >
        </activity>

        <service
            android:name=".service.ShimmerService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activity.QuestList"
            android:label="@string/title_activity_quest_view" >
        </activity>
        <activity
            android:name=".activity.SoloQuestDescription"
            android:label="@string/title_activity_quest_description" >
        </activity>
        <activity
            android:name=".activity.Graph"
            android:label="@string/title_activity_graph" >
        </activity>
    </application>

</manifest>
